@import "tailwindcss";

@theme {
  --color-cream: #fffaf4;
  --color-warm: #fbf0e6;
  --color-beige: #f1e4d7;
  --color-soft-rose: #f9dde5;
  --color-lavender: #fce8ee;
  --color-blush: #eaa0b3;
  --color-dark-blush: #b96a80;
}

body {
  @apply bg-cream text-gray-900;
}
