@import "tailwindcss";

@theme {
  --color-cream: #fffaf4;
  --color-warm: #f8eadc;
  --color-beige: #ead7c5;
  --color-soft-rose: #f7d6df;
  --color-lavender: #fce8ee;
  --color-blush: #eaa0b3;
  --color-dark-blush: #b96a80;
}

body {
  @apply bg-cream text-gray-900;
}
